In [1]:
import pandas as pd


from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)

In [2]:
def exract(data_path, metadata_path):
    df = pd.read_csv(data_path, header=[0,1])
    meta = pd.read_csv(metadata_path, sep = ' ', header=None)
    dates = ['year','month','day','hour','day_of_week','holiday','day_of_year']
    df.columns = dates+list(meta[2])
    df = df.set_index(dates)
    return df

In [3]:
df10= exract('data/Data_PM10.csv', 'data/MetaData_PM10.txt')
df25 = exract('data/Data_PM25.csv', 'data/MetaData_PM25.txt')

In [14]:
dates = ['year','month','day','hour','day_of_week','holiday','day_of_year']
all_checks_df = pd.DataFrame()
for i in df10.columns[7:8]:
    if i in df25.columns:
        df10_per_station = df10[[i]]
        df25_per_station = df25[[i]]
        df_per_station = df10_per_station.join(df25_per_station, how = 'inner').dropna()
        df_per_station['station'] = [i]*len(df_per_station.year.index)
        df_per_station.set_index(df_per_station.index+['station'])
        all_checks_df=all_checks_df.join(df_per_station)
all_checks_df

                                                     PTR_PM10  PTR_PM25  \
year month day hour day_of_week holiday day_of_year
2001 1     4   9.0  5           0       4                85.0      40.0
               9.5  5           0       4                66.0      31.0
               10.0 5           0       4                50.0      23.0
               10.5 5           0       4                52.0      32.0
               11.0 5           0       4                63.0      33.0
...                                                       ...       ...
2018 12    11  22.0 3           0       345              74.7      20.5
               22.5 3           0       345              70.8      20.8
               23.0 3           0       345              73.8      24.7
               23.5 3           0       345              72.1      24.9
           12  0.0  4           0       346              68.5      23.9

                                                    station
year month day hour day_of_week holiday day_of_year
2001 1     4   9.0  5           0       4               PTR
               9.5  5           0       4               PTR
               10.0 5           0       4               PTR
               10.5 5           0       4               PTR
               11.0 5           0       4               PTR
...                                                     ...
2018 12    11  22.0 3           0       345             PTR
               22.5 3           0       345             PTR
               23.0 3           0       345             PTR
               23.5 3           0       345             PTR
           12  0.0  4           0       346             PTR

[229992 rows x 3 columns]

In [ ]:
len(df25.index)

True